<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Matiboux" />
<meta name="description" content="Site web de la MDL du Lycée Jules Verne" />
<meta name="keywords" content="site,web,internet,mdl,maison,des,lycéens,lycée,high,school,jules,verne,Matiboux" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.1.1/css/all.min.css" integrity="sha256-2YEhpR7T+RH1Gc9CvigiXcJrTJ1hz6sKWAEY5cNEdGM=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />
<link rel="stylesheet" href="{{ '/style.css?v=' | append: site.github.build_revision | relative_url }}" />
